
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 2px 2px 2px #aaa;
}

.App-link {
  color: #61dafb;
}

input {

    padding: 10px 10px;
    min-width: 20vw;
    border-radius: 15px;
    border: 1px solid #eee;
    box-shadow: 2px 2px 2px #eee;
}


.form-container{
  margin:  10px 5px;
}
.login {
  margin: 10%;
}

.container{
  display: flex;
  flex-direction: column;
}
.module-container{

  display: flex;
  flex-direction: column;
  margin: 2vh 2vw;
  justify-content: center;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.error{
  color: red;
  padding: 5px;
  width: fit-content;
  background: #ffeeee;

}
.row{
  display: flex;
  border: none;
  box-shadow: 2px solid #aaa;
  padding: 10px;
  justify-content: center;
}

.info{
  color: blue;
  padding: 5px;
  width: fit-content;
  background: #ddddff;

}

.half{
  display: flex;
  flex-direction: column;
  width: 50vw;
}
.horizontal{
  display: flex;
  flex-direction: column;
}


th, td {
  background: #eeeeee;
  padding: 10px;
}


.modal {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.form-control{
  display: flex;
  margin-top: 10px;
}
label {
  width: 30vw;
}